.gridTreatment{
    width: 100%;
}

.gridTop{
    width: 100%;
}

.gridTop .leftMission .innerLeft {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.gridTop .leftMission p{
    color: white;
    background: #29335c;
    padding: 10px;
}

.gridTop .leftMission .innerLeft ul li{
    margin: 10px;
    list-style: circle;
}

.gridTop .leftMission h3{
    background: #8e99ce;
    padding: 20px;
}

.gridOne,
.gridTwo,
.gridThree,
.gridFour
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.leftMission {
    padding: 10px;
}


.innerLeft{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.innerLeft p:first-child:first-letter{
    color: #305ec1;
    font-size: 30px;
}

.innerLeft ul{
    padding: 0;
}

.innerLeft ul li{
    list-style: none;
}

.rightMission{
    width: 100%;
    height: 100%;
}
.gridTreatment .gridThree .leftMission .innerLeft ul li,
.gridTreatment .gridTwo .leftMission .innerLeft ul li,
.gridTreatment .gridOne .leftMission .innerLeft ul li,
.gridTreatment .gridFour .leftMission .innerLeft ul li
{
    margin: 15px 0;
}


.gridTreatment .gridOne .rightMission{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(48, 94, 193, 0.37)), url('../../../Images/pexels-tima-miroshnichenko-6010926.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.gridTreatment .gridTwo .rightMission{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(48, 94, 193, 0.37)), url('../../../Images/post.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.gridTreatment .gridThree .rightMission{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(48, 94, 193, 0.37)), url('../../../Images/bladder.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.gridTreatment .gridFour .rightMission{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(48, 94, 193, 0.37)), url('../../../Images/incontinence.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}


.rightMission h1{
    color: whitesmoke;
    font-size: 5rem;
    text-transform: capitalize;
}


.vision, .innerLeft h2 {
    color: white;
    background: rgba(86, 91, 115, 0.39);
    padding: 10px;
}

.innerLeft h3{
    color: #305ec1;
}

@media only screen and (max-width: 1100px) {
    .gridOne,
    .gridTwo,
    .gridThree,
    .gridFour
    {
        display: block;
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .rightMission{
        height: 100vh;
    }

    .rightMission h1{
        font-size: 2rem;
    }
    .gridTop .leftMission .innerLeft {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}